* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
}
.wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.name {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}
.location {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 21px;
}
.about{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 18px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 18px;
    width: 300px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 12%);
    margin-bottom: 10px;
}
.link {
    height: 40px;
    width: 100%;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
}
.link:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}
.link:hover p{
    color: hsl(0, 0%, 8%);
}
.link p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}
.location {
    color: hsl(75, 94%, 57%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-weight: 500;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 19px;
}